body {
  &.nav-open {
    overflow: hidden;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
}

.menu-overlay {
  @extend .overlay;
  z-index: 101;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.leave-header {
  margin-top: $header-height;
}

.primary-btn {
  background: $active;
  line-height: calculateRem(42px);
  padding-left: calculateRem(30px);
  padding-right: calculateRem(30px);
  border: none;
  display: inline-block;
  font-weight: 500;
  position: relative;
  @include transition(all .3s ease 0s);
  cursor: pointer;
  position: relative;
  &, :hover {
    color: $white !important;
  }
}

.gradient {
  background: -moz-linear-gradient(45deg, $active 0%, $active-dark 100%);
  background: -webkit-linear-gradient(45deg, $active 0%, $active-dark 100%);
  background: -ms-linear-gradient(45deg, $active 0%, $active-dark 100%);
  background: linear-gradient(45deg, $active 0%, $active-dark 100%);
}

.section-gap {
  padding: $gutter*7.5 0;
}

.pt-120 {
  padding-top: $gutter*7.5;
}
